<div class="ml-n3">
  <div class="mt-4">
    <h4>
      <span [translate]="'CoursesLocal.AcademicTextbooks.Books'"></span>
    </h4>
    <div class="text-secondary" *ngIf="books && books.length === 0">
      {{'CoursesLocal.AcademicTextbooks.None' | translate}}
    </div>
  </div>
  <div>
    <div class="brand-card px-4 py-3 card-body-title mt-3" *ngFor="let book of books">
      <div class="row">
        <div class="col-12 text-gray-600">
          <div class="row justify-content-start mb-2 font-lg">
            <div class="col-auto">
              <i class=" fa fa-book pr-2"></i> {{ book?.book_title }}
            </div>
          </div>
          <div class="row justify-content-start mb-2">
            <div class='col-auto'><span [translate]="'CoursesLocal.AcademicTextbooks.Authors'"></span>:&nbsp;{{
              book?.authors }}
            </div>
          </div>
          <div class="row justify-content-start mb-2">
            <div class='col-auto'><span [translate]="'CoursesLocal.AcademicTextbooks.EditorialHouse'"></span>:&nbsp;{{
              book.editorialhouse }}
            </div>
          </div>
          <div class="row justify-content-start mb-2">
            <div class='col-auto'><span [translate]="'CoursesLocal.AcademicTextbooks.ISBN'"></span>:&nbsp;{{ book.Isbn
              }}
            </div>
          </div>
          <div class="row justify-content-start mb-2">
            <div class='col-auto'><span [translate]="'CoursesLocal.AcademicTextbooks.PublicationYear'"></span>:&nbsp;{{
              book.publicationyear }}
            </div>
          </div>
          <div class="row justify-content-start mb-2">
            <div class='col-auto'><span [translate]="'CoursesLocal.AcademicTextbooks.EditionNumber'"></span>:&nbsp;{{
              book.editionnumber }}
            </div>
          </div>
          <div class="row justify-content-start mb-2">
            <div class='col-auto'><span [translate]="'CoursesLocal.AcademicTextbooks.PublisherName'"></span>:&nbsp;{{
              book.publishername }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>