<div *ngIf="courseExam && participants && !isLoading">
  <div class="brand-card px-4 py-3 card-body-title mt-3">
    <div class="row s--list-group pt-3 pb-3">
      <div class="col-lg-9">
        <div class="text-secondary text-uppercase mb-1" [translate]="'Participation.Info'"></div>

        <div class="font-lg text-primary" *ngIf="participants.total === 0">
          {{'Participation.None' | translate}}
        </div>

        <div *ngIf="participants.total> 0">
          <div class="row pl-3 mb-2 text-gray-600">
            <span [translate]="'Participation.ExportInfo'"></span>&nbsp;
               <a href="javascript:void(0)" id="download"
                 class="" (click)="exportParticipants(false)"><span [translate]="'Participation.Export'"></span>
              </a>

          </div>
          <div class="row  py-2 ml-1">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 col-xs-12 pl-0">
              <span [translate]="'Participation.Agree'"></span>
            </div>
            <div class="text-success col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
              {{participants.agree}}
            </div>
          </div>
          <div class="row py-2 ml-1">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 col-xs-12 pl-0">
              <span [translate]="'Participation.Decline'"></span>
            </div>
            <div class="text-danger col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
              {{participants.decline}}
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
