<div class="mr-xl-5">
  <div class="d-md-flex d-inline-block justify-content-start align-items-end mb-3" >
    <div class="pr-3"><h3 class="d-inline" [translate]="'iDashboard.CurrentCourses'"></h3></div>
    <div *ngIf="recentCourses"><div class="my-auto text-secondary d-inline">{{recentCourses[0]?.period?.alternateName | translate}} {{recentCourses[0]?.year?.alternateName }}</div></div>
    <div class="ml-auto pr-2" *ngIf="recentCourses && recentCourses.length!==0"><a [routerLink]="['/courses/recent']" title="{{'iDashboard.Details' | translate}}" [translate]="'iDashboard.Details'"></a></div>
  </div>

  <!--pre-loading state-->
  <div class="card mb-3" *ngIf="isLoading">
    <div class="card-body">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="ml-4 ph-col-4 big"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end pre-loading state-->

  <div *ngIf="recentCourses">
    <div class="card mb-3" *ngFor="let class of recentCourses"> <!-- LOOP WITH CARDS -->
      <div class="card-body">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-9">
                <div class="row mt-n2">
                  <h5 class="card-title">{{class?.title }}</h5>
                </div>
                <div class="row">
                  <span class="text-secondary mr-3 font-sm"><i class="fa fa-flag pr-1"></i>{{class?.course?.displayCode}}</span>
                  <span class="text-secondary mr-3 font-sm"><i class="fa fa-user pr-1"></i>{{class?.numberOfStudents}} <span [translate]="'iDashboard.Students'"></span></span>
                </div>
                <div class="row mt-2">
                  <span class="text-secondary mr-3 font-sm"><i class="fa fa-calendar pr-1"></i>{{class?.period?.alternateName | translate}}  {{class?.year?.name }}</span>
                  <span class="text-secondary mr-3 font-sm"><i class="fa fa-university pr-1"></i>{{class?.course?.department?.abbreviation }}</span>
                </div>
              </div>
              <div class="col-md-3 d-flex align-items-center mt-4 mt-sm-0">
                <button [routerLink]="['/courses',class?.course?.id, class?.year?.id, class?.period?.id]"
                   class="btn btn-outline-secondary btn-sm btn-block rounded-pill p-2 mb-2">
                    <span [translate]="'iDashboard.More'"></span>
                </button>
                <!--<button class="btn btn-outline-secondary btn-sm btn-block rounded text-secondary p-2 mb-2">
                  <i class="far fa-flag"></i>
                  <span class="ml-3" [translate]="'iDashboard.eLearning'"></span>
                </button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && recentCourses && recentCourses.length === 0" >
    <div class="info-text" [translate]="'iDashboard.CoursesNoRecords'"></div>
  </div>

</div>
