<div>

  <div class="d-md-flex d-inline-block justify-content-start align-items-end mb-3">
    <div class="pr-3">
      <h3 class="d-inline" [translate]="'iDashboard.latestUploads'"></h3></div>
  </div>

  <!-- loading state -->
  <div class="card mb-3" *ngIf="isLoading">
    <div class="card-body">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
          <div class="ph-col-2 empty big"></div>
          <div class="ph-col-2 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="mx-2 ph-col-6 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-4 big"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Uploads -->
  <div class="card" *ngIf="!isLoading">
    <p *ngIf="actions.length === 0" class="info-text m-0 p-4" [translate]="'iDashboard.gradeSubmissionNoRecord'"></p>
    <ul class="sis--list-group sis--list-group-body" *ngIf="actions && actions.length > 0">
      <li class="sis--list-group-item" *ngFor="let action of actions">
          <div class="d-flex  align-items-center list-color" *ngIf="action.object">
            <div>
              <i class="fa fa-circle pr-3 text-primary"
                [ngClass]="{
                  'text-success': action.actionStatus.alternateName === 'CompletedActionStatus',
                  'text-danger': action.actionStatus.alternateName == 'FailedActionStatus'
                }"
                title="{{ ('CoursesLocal.ActionStatusTypes.'+ action.actionStatus.alternateName) | translate }}"
              ></i>
            </div>
            <div class="sis--list-group-item_lg_column">
              <span class="d-bock w-100">
                {{ action.additionalResult.dateCreated | localizedDate: 'short'}}
                -
                {{ action.object.name }}
              </span>
              <small class="d-block ml-auto text-secondary">
                {{ action.object.course.displayCode }} - {{ action.object.examPeriod.name }} {{ action.object.year.alternateName }}
              </small>
            </div>
            <div class="sis--list-group-item_sm_column text-right">
              <a [routerLink]="getUrl(action)" [translate]="'iDashboard.show'"
                class="btn btn-outline-secondary btn-sm rounded-pill p-2 pl-4 pr-4 mb-2"
              ></a>
            </div>
          </div>
      </li>
    </ul>
  </div>

  <!-- End of test -->
</div>
